
<div class="row" id="dashMain">
	<div class="col">
		<div id="dashTab">
		  <ul class="tabs">
		    <li class="tab"><a href="#test1" class="active col">News</a></li>
		    <li class="tab"><a href="#test2" class="col">Clubs</a></li>
		    <li class="tab"><a href="#test3" class="col">Partenaires</a></li>
		    <li class="tab"><a href="#test4" class="col">Bde</a></li>
		  </ul>
		</div>
	</div>
	<div class="col s8 offset-s1">
		<% flash.each do |name, msg| -%>
			<script type="text/javascript">
				$(document).ready(function () {
					(function($){
						$(function(){
					 		Materialize.toast('<%= msg %>', 3000, 'rounded <%= name %>');
						}); // end of docum	ent ready
					})(jQuery); // end of jQuery name space
				});
			</script>
		<% end -%>
		<div id="test1" class="col s12">
<<<<<<< HEAD
				<%= render "dashboard/news" %>
=======
			<div class="center">
				<% if @news.size == 0 %>
					<p class="center">Aucune actualité n'a été publiée ! Utilisez le bouton ci-dessous pour en publier !</p>
				<% else %>
					<table>
				        <thead>
				          <tr>
				              <th data-field="title">Titre</th>
				              <th data-field="text">Texte</th>
				              <th data-field="img">Date de publication</th>
				          </tr>
				        </thead>

				        <tbody>
							<% for @new in @news %>
								<tr>
									<td><%= @new.title %></td>
									<td><%= @new.text %></td>
									<td><%= @new.created_at.strftime("%d-%m-%Y %H:%M") %></td>
									<td><a href="/news/delete/<%= @new.id.to_s %>">Supprimer</a></td>
							<% end %>
						</tbody>
					</table>
				<% end %>
				<br>
				<a class="waves-effect waves-light btn" href="/news/create">Ajouter une actualité</a>
			</div>
>>>>>>> 1300a436bdc929e8bedeedaca6a96ad083e079f6
		</div>
		<div id="test2" class="col s12">
				<%= render "dashboard/clubs" %>
		</div>
		<div id="test3" class="col s12">
				<%= render "dashboard/partenaires" %>
		</div>
		<div id="test4" class="col s12">
<<<<<<< HEAD
				<%= render "dashboard/bde" %>
=======
			
			<table>
		        <thead>
		          <tr>
		              <th data-field="title">Titre</th>
		              <th data-field="text">Texte</th>
		              <th data-field="img">Image</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		        </tbody>
		      </table>
>>>>>>> 1300a436bdc929e8bedeedaca6a96ad083e079f6
		</div>
	</div>
</div>
