<iframe name="myFrame" id="myFrame" style="display:none;">
	<div>test</div>
</iframe>
<div class="row" id="dashMain">
	<div class="col">
		<div id="dashTab">
		  <ul class="tabs">
			<% if @user_role == "Editeur" || @user_role == "Administrateur" %>
				<li class="tab"><a href="#test1" class="active col">News</a></li>
			<% end %>


		    <li class="tab"><a href="#test2" class="col">Clubs</a></li>

		    <% if @user_role == "Editeur" || @user_role == "Administrateur" %>
		    	<li class="tab"><a href="#test3" class="col">Partenaires</a></li>
		    <% end %>
		    <% if @user_role == "Administrateur" %>
			    <li class="tab"><a href="#test4" class="col">Bde</a></li>
			    <li class="tab"><a href="#inscription" class="col">Inscription</a></li>
		    <% end %>
		  </ul>
		</div>
	</div>
	<div class="col s8 offset-s1">
		<% flash.each do |name, msg| -%>
			<script type="text/javascript">
				$(document).ready(function () {
					(function($){
						$(function(){
					 		Materialize.toast('<%= msg %>', 3000, 'rounded <%= name %>');
						}); // end of docum	ent ready
					})(jQuery); // end of jQuery name space
				});
			</script>
		<% end -%>

		<% if @user_role == "Editeur" || @user_role == "Administrateur" %>
			<div id="test1" class="col s12">
				<%= render "dashboard/news" %>
			</div>
		<% end %>

		<div id="test2" class="col s12">
			<%= render "dashboard/clubs" %>
		</div>

		<% if @user_role == "Editeur" || @user_role == "Administrateur" %>
			<div id="test3" class="col s12">
				<%= render "dashboard/partenaires" %>
			</div>
		<% end %>

		<% if @user_role == "Administrateur" %>
			<div id="test4" class="col s12">
				<%= render "dashboard/bde" %>
			</div>

			<div id="inscription" class="col s12">
				<%= render "dashboard/inscription" %>
			</div>
		<% end %>
		
	</div>
</div>
