<div class="row" id="dashMain">
	<div class="col s1">
		<div id="dashTab">
		  <ul class="tabs">
		    <li class="tab"><a href="#test1" class="active">News</a></li>
		    <li class="tab"><a href="#test2">Clubs</a></li>
		    <li class="tab"><a href="#test3">Partenaires</a></li>
		    <li class="tab"><a href="#test4">Bde</a></li>
		    <li class="tab"><a href="#test5">Users</a></li>
		  </ul>
		</div>
	</div>
	<div class="col s8 offset-s1">
		<div id="test1" class="col s12">

				<table>
		        <thead>
		          <tr>
		              <th data-field="title">Titre</th>
		              <th data-field="text">Texte</th>
		              <th data-field="img">Image</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		        </tbody>
		      </table>

		</div>
		<div id="test2" class="col s12">
			
			<table>
		        <thead>
		          <tr>
		              <th data-field="title">Hey</th>
		              <th data-field="text">Texte</th>
		              <th data-field="img">Image</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		        </tbody>
		      </table>

		</div>
		<div id="test3" class="col s12">
			
				<table>
		        <thead>
		          <tr>
		              <th data-field="title">Lol</th>
		              <th data-field="text">Texte</th>
		              <th data-field="img">Image</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		        </tbody>
		      </table>

		</div>
		<div id="test4" class="col s12">
			
			<table>
		        <thead>
		          <tr>
		              <th data-field="title">Titre</th>
		              <th data-field="text">Texte</th>
		              <th data-field="img">Image</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		          <tr>
		            <td>Super Article</td>
		            <td>blabla</td>
		            <td>super</td>
		          </tr>
		        </tbody>
		      </table>
		</div>

		<div id="test5" class="col s12">
			<%= form_for("user", :url => user_session_path) do |f| %>
				<%= f.text_field :email %>
				<%= f.password_field :password %>
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me %>
				<%= f.submit 'Sign in' %>
				<%= link_to "Forgot your password?", new_password_path('user') %>
			<% end %> 
		</div>
	</div>
</div>
