<div class="container">
	<div class="section">
		<div class="row">
		<div class="col s12 l6 offset-l3">
		  <ul class="tabs" style="overflow: hidden">
			<li class="tab col s3"><a class="active indigo-text" href="#test1">Parrains</a></li>
			<li class="tab col s3"><a class="indigo-text" href="#test2">Partenaires</a></li>
			<li class="tab col s3"><a class=" indigo-text" href="#test4">Avantages</a></li>
			<div class="indicator indigo" style="z-index:1"></div>
		  </ul>
		</div>
		<div id="test1" class="col s12">
			<div class="row center">				
				<h3 class="indigo-text"><i class="medium material-icons">perm_identity</i></h3>
				<h4 class="indigo-text">Les parrains de promo</h4>
			</div>
		    <div class="row">
		    	<div class="container">
			    	<p>Les parrains de promo prennent en charge une promotion complète en proposant des conférences sur des sujets variés tels que la création du CV, l'entretien, l'intelligence artificielle...</p>
			    	<% for @parrain in @parrains %>
			    		<div class="parrain col s12 m6">
			    			<div class="col s12 m4 valign-wrapper">
			    				<p class="valign center-align"><img src="<%= @parrain.logo.url(:medium) %>" class="circle"></p>
			    			</div>
			    			<div class="col s12 m8">
			    				<h3><%= @parrain.nom %></h3>
			    				<p><%= @parrain.description %></p>
			    				<p class="small"><%= @parrain.adresse %></p>
			    			</div>
			    		</div>
			    	<% end %>
			    </div>
		    </div>
		</div>
		<div id="test2" class="col s12">
			<div class="row center">				
				<h3 class="indigo-text"><i class="medium material-icons">contacts</i></h3>
				<h4 class="indigo-text">Nos partenaires</h4>
			</div>
		    <div class="row">
		    	<div class="container">
			    	<p>Les partenaires participent à l'effort du BDE par des aides financières ou matérielles, par exemple au cours d'événements organisés</p>
			    	<% for @partenaire in @partenaires %>
			    		<div class="parrain col s12 m6">
			    			<div class="col s12 m4 valign-wrapper">
			    				<p class="valign center-align"><img src="<%= @partenaire.logo.url(:medium) %>" class="circle"></p>
			    			</div>
			    			<div class="col s12 m8">
			    				<h3><%= @partenaire.nom %></h3>
			    				<p><%= @partenaire.description %></p>
			    				<p class="small"><%= @partenaire.adresse %></p>
			    			</div>
			    		</div>
			    	<% end %>
			    </div>
		    </div>	
		</div>
		<div id="test4" class="col s12">
			<div class="row center">				
				<h3 class="indigo-text"><i class="medium material-icons">trending_up</i></h3>
		    	<h4 class="indigo-text">Les avantages</h4>
			</div>
			<div class="row">
				<div class="container">
					<p>Les avantages vous permettent de profiter de réductions ou d'offres spéciales en tant qu'étudiant à l'ENSIIE</p>
			    	<% for @avantage in @avantages %>
			    		<div class="parrain col s12 m6">
			    			<div class="col s12 m4 valign-wrapper">
			    				<p class="valign center-align"><img src="<%= @avantage.logo.url(:medium) %>" class="circle"></p>
			    			</div>
			    			<div class="col s12 m8">
			    				<h3><%= @avantage.nom %></h3>
			    				<p><%= @avantage.description %></p>
			    				<p class="small"><%= @avantage.adresse %></p>
			    			</div>
			    		</div>
			    	<% end %>
			    </div>
		    </div>		    
		</div>
		</div>
	</div>
</div>
