<div class="container">
	<div class="row center">
		  <div class="col s12">
		    <h3 class="green-text"><i class="large material-icons">note_add</i></h3>
		    <h4 class="green-text">Toutes nos dernières news !</h4>  
		  </div>
		</div>	
	<div class="section">
		<div class="row center">
			<%= render "layouts/pagination" %>
		</div>

		<div class="row center">
			<div class="col s8 offset-s2">
				<% for @new in @news %>
					<div class="card">
						<div class="card-content">
							<span class="card-title" style="font-weight:bold"><%= @new.title %></span>
							<p class="small italic"><%= @new.created_at.strftime("%d-%m-%Y %H:%M") %></p>
							<p><%= simple_format(@new.text) %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="row center">
			<%= render "layouts/pagination" %>
		</div>
	</div>
</div>
