<div class="container">
	<div class="section">
		<div class="row center">
		  <div class="col s12">
		    <h3 class="amber-text darken-4"><i class="large material-icons">speaker_notes</i></h3>
		    <h4>Nous contacter !</h4>  
		  </div>
		</div>	

		<div class="row center">
			<%= form_tag "", method: "post", class: "col l6 offset-l3 m8 offset-m2 s12" do %>

				<div class="input-field">
					<i class="material-icons prefix">account_circle</i>
					<%= text_field_tag 'name', nil, class: 'validate' %>
					<%= label_tag "name", "Nom complet" %>
				</div>

				<div class="input-field">
					<i class="material-icons prefix">email</i>
					<%= email_field_tag 'mail', nil, class: 'validate' %>
					<%= label_tag "mail", "Mail" %>
				</div>

				<div class="input-field">
					<i class="material-icons prefix">assignment</i>
					<%= text_field_tag 'objet', nil, class: 'validate' %>
					<%= label_tag "objet", "Objet" %>
				</div>

				<div class="input-field">
					<i class="material-icons prefix">question_answer</i>
					<%= text_area_tag "message", "", class: "validate materialize-textarea" %>
					<%= label_tag "message", "Message" %>
				</div>

				<br>
				<div class="right">
				<button id="send" class="btn-large waves-effect waves-light amber darken-4" type="button" name="action" disabled>Envoyer
					<i class="material-icons right">send</i>
				</button>
				</div>
			<% end %>
		</div>	
		
		<br>
		<div class="row center">
			<div class="col s6 m4 offset-m2 offset-l3 l3">
				<a href="https://www.facebook.com/messages/317624681662981"><%= image_tag "reseaux_sociaux/fb.png", class: "circle fb" %></a>			
			</div>
			<div class="col s6 m4 l3">
				<a href="mailto: bde@ares-ensiie.eu"><%= image_tag "reseaux_sociaux/mail.png", class: "circle mail" %></a>
			</div>				
		</div>

	</div>
</div>
