<footer class="page-footer grey darken-3">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Logos</h5>
      <%= image_tag "logos/logo.jpg" %>
      <%= image_tag "logos/ensiieComplet.jpg" %>
      <%= image_tag "logos/unistra.jpg" %>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Suivez nous !</h5>
      <ul>
        <li><a class="white-text" href="http://www.facebook.com/BDE-Ensiie-Strasbourg-317624681662981"><%= image_tag "reseaux_sociaux/fb.png" %> BDE Strasbourg</a></li>
        <li><a class="white-text" href="http://twitter.com/bde_ensiie_sxb"><%= image_tag "reseaux_sociaux/twitter.png" %> BDE Strasbourg</a></li>
        <li><a class="white-text" href="http://www.facebook.com/ENSIIE.91.68"><%= image_tag "reseaux_sociaux/fb.png" %> ENSIIE</a></li>
        <li><a class="white-text" href="http://twitter.com/ensiie"><%= image_tag "reseaux_sociaux/twitter.png" %> ENSIIE</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Liens Utiles</h5>
      <ul>
        <li><a class="white-text" href="http://www.ensiie.fr"><%= image_tag "logos/ensiie.png" %> ENSIIE</a></li>
        <li><a class="white-text" href="http://ares-ensiie.eu"><%= image_tag "logos/ares.jpg" %> Intranet ENSIIE Strasbourg</a></li>
        <li><a class="white-text" href="http://bde.iiens.net"><%= image_tag "logos/bdeevery.png" %> BDE ENSIIE Evry</a></li>
        <li><a class="white-text" href="http://www.unistra.fr"><%= image_tag "logos/unistra.jpg" %> Université de Strasbourg</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright grey darken-4">
  <div class="row">
      <div class="container">
        <div class="col s6">
          @2016 <a class="brown-text text-lighten-3" href="/">Bureau des Eleves ENSIIE Strasbourg</a> 
        </div>
        <div class="col s6" style="text-align:right;">
          <a class="brown-text text-lighten-3" href="/admin">Dashboard</a>
        </div>
      </div>
  </div>
</div>
</footer>
