<footer class="page-footer grey darken-3">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Logos</h5>
      <%= image_tag "logo.jpg" %>
      <%= image_tag "ensiieComplet.jpg" %>
      <%= image_tag "unistra.jpg" %>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Suivez nous !</h5>
      <ul>
        <li><a class="white-text" href="http://www.facebook.com/BDE-Ensiie-Strasbourg-317624681662981"><%= image_tag "fb.png" %> BDE Strasbourg</a></li>
        <li><a class="white-text" href="http://twitter.com/bde_ensiie_sxb"><%= image_tag "twitter.png" %> BDE Strasbourg</a></li>
        <li><a class="white-text" href="http://www.facebook.com/ENSIIE.91.68"><%= image_tag "fb.png" %> ENSIIE</a></li>
        <li><a class="white-text" href="http://twitter.com/ensiie"><%= image_tag "twitter.png" %> ENSIIE</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Liens Utiles</h5>
      <ul>
        <li><a class="white-text" href="http://www.ensiie.fr"><%= image_tag "ensiie.png" %> ENSIIE</a></li>
        <li><a class="white-text" href="http://ares-ensiie.eu"><%= image_tag "ares.jpg" %> Intranet ENSIIE Strasbourg</a></li>
        <li><a class="white-text" href="http://bde.iiens.net"><%= image_tag "bdeevery.png" %> BDE ENSIIE Evry</a></li>
        <li><a class="white-text" href="http://www.unistra.fr"><%= image_tag "unistra.jpg" %> Université de Strasbourg</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright grey darken-4">
  <div class="container">
  @2016 <a class="brown-text text-lighten-3" href="/">Bureau des Eleves ENSIIE Strasbourg</a>
  </div>
</div>
</footer>
